.card {
  float: left;
  margin: 20px;
  width: 140px;
  line-height: 140px;
  text-align: center;
  background-color: #fff;
  border-radius: 4px;
  border: 3px solid blue;
  color: blue;
  font-size: 25px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, .2);

  &.negative {
    color: red;
    border: 3px solid red;
  }
}
