<div class="app-container">
  <app-cards-container></app-cards-container>
  <div class="app-buttons">
    <button
      #startButton
    >
      Start
    </button>
    <button
      #stopButton
    >
      Stop
    </button>
    <button
      (click)="onResetButtonClick()"
    >
      Reset
    </button>
  </div>
</div>
