.app {
  &-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  &-buttons {
    margin-top: 20px;

    button {
      cursor: pointer;
      margin: 0 10px;
      border: 1px solid #000;
      padding: 7px 12px;
      font-size: 18px;
      border-radius: 4px;
      background-color: transparent;
      color: #000;
    }
  }
}
